*{
    margin:0;
    padding:0
}
body{
    background-color: #f2f2f2;
}
:root{
    --font:#0d380e;
    --heading:"Montserrat", sans-serif;
    --body: "Inter", sans-serif;
    --bg:#f9fbf9

}
/* Navbar */
#navbar{
    padding:10px 40px 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nlogo{
    height:80px
}
#links{
    display: flex;
    gap:60px;
    font-family: var(--body);
    font-size: 20px;
}
#links>a{
    cursor:pointer;
    transition:transform  0.5s ease,color 0.5s ease
}
#links>a:hover{
    transform: scale(1.1);
    color:var(--font)
}
/*Home*/
#banner{
    height:560px;
    background: url('./assets/banner2.png');
    background-position: center;
    background-size: cover;
    padding:30px;
    display: flex;
    justify-content: center;
}
#learn{
    height:40px;
    width:150px;
    background-color: var(--font);
    color:white;
    border-radius:5px;
    border:none;
    margin-top: 20px;
}
#contain{
    margin-right:40%;
    display: flex;
    margin-top: 4%;
    flex-direction: column;
    align-items: center;
        color:var(--font);
            font-family: var(--heading);

}
#fblc-title{
    font-family: var(--heading);
    font-weight: 900;
    font-size:100px;
}
#tfssch{
    font-style: italic;
    margin-top: 5%;
}
#tdis{
    font-family: var(--body);
    font-size: 20px;
    width: 600px;
    margin-top:30px;
    text-align: center;
}
#why{
    padding:40px;
    font-family: var(--body);
    color:var(--font)
}
#stitle{
    font-weight: 800;
}
#reason>i{
    font-size: 70px;
}
#reasons{
    display: flex;
    margin-top: 30px;
    gap:40px;
    justify-content: center;
}
#reason{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:50px;
    background-color: var(--bg);
    width:200px;
    text-align:center;
    border-radius:15px;
    border:0.2px solid #f9fbf9
}
#rtitle{
    margin-top: 10px;
}
#rdis{
    width:250px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
}
#ready{
    height:300px;
    background:url('./assets/bhome.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    color:white;
    font-family: var(--body);
    display: flex;
    justify-content: center;
    align-items: center;
}
#contain2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px
}
#join{
    opacity:0.6;
    font-size: 20px;
}
#l2{
    height:50px;
    width:150px;
    background: none;
    border:1px solid white;
    color:white;
    border-radius:3px
}
footer{
    background-color: var(--font);
    padding:30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#flogo{
    transform: rotate(7deg);
    height:80px
}
#t2{
font-size: 15px;
opacity: 0.7;
}
#full2{
    font-size: 20px;
    opacity: 0.9;
}
#atitle{
font-size: 25px;
}
#socials{
    color:white;
    font-size: 30px;
    display: flex;
    gap:20px
}
#l{
    display: flex;
    gap:10px
}
#alts{
    color:white;
    font-family: var(--body);
}
@media (max-width: 768px) {
    footer{
        padding:10px
    }
    #flogo{
        height:40px
    }
    #atitle{
        font-size: 13px;

    }
    #full2{
        font-size: 10px;
    }
    #t2{
        font-size: 9px;
    }
    #socials{
        font-size: 20px;
    }
    #join{
        font-size: 12px;
    }
    #rready{
        font-size: 20px;
        text-align: center;
    }
    #banner{
        background: url('./assets/banner2-phone.png');
        background-size: cover;
    background-position: center;
    }
    #links{
        gap:10px;
        font-size: 15px;
    }
    #navbar{
    padding:10px;

}
    #nlogo{
        height:60px
    }
    #fblc-title{
        font-size: 40px;
    }
    #full{
        font-size: 17px;
    }
    #tdis{
        font-size: 15px;
        width:350px
    }
    #banner{
        justify-content: center;
    }
    #contain{
        margin-top: 0;
        margin-right: 0;
    }
    #reasons{
        flex-direction: column;
        align-items: center;
    }
}